# Laneful API Configuration
LANEFUL_BASE_URL=https://nanmhr7rwaq3nbzo.z1.send.dev.laneful.net
LANEFUL_AUTH_TOKEN=priv-CvxChceENYcxr0AGnI7CF

# Email Configuration
LANEFUL_FROM_EMAIL=alex@1116291.site
LANEFUL_TO_EMAILS=alex@joylabsventures.com,herrera.luis@uabc.edu.mx,yiyogold@gmail.com

# Webhook Configuration
LANEFUL_WEBHOOK_SECRET=8a4db6a190a34f2a4cc9bfcfc2ba96894abc6505856b6153f38724c137958d81
LANEFUL_WEBHOOK_URL=https://1116291.site/webhook

# Template Configuration
LANEFUL_TEMPLATE_ID=6

# Docker Configuration
DOCKER_IMAGE_NAME=laneful-java-examples
DOCKER_TAG=latest
